<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <link href="/static/styles.css" rel="stylesheet">

        <title>SocialMedia: {% block title %}{% endblock %}</title>

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            {% if session.user_id %}
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/">Homepage</a>
                        <a class="nav-link" href="/people">People</a>
                        <a class="nav-link" href="/logout">Log Out</a>
                    </div>
                </div>
            {% else %}
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/register">Register</a>
                        <a class="nav-link" href="/login">Log In</a>
                    </div>
                </div>
            {% endif %}
        </nav>

        {% block main %}{% endblock %}
        
    </body>

</html>
