{% extends "layout.html" %}

{% block title %}
    People
{% endblock %}

{% block main %}

    <table>
        {% for person in persons %}
            <tr>
                <td>{{ person }}</td>
                {% if person not in followers %}
                    <td><a class="btn btn-primary btn-sm" href="{{ url_for('follow', following=person) }}">Follow</a></td>
                {% else %}
                    <td><a class="btn btn-primary btn-sm" href="{{ url_for('unfollow', following=person) }}">Unfollow</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    
{% endblock %}